@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Black.ttf') format('ttf'),
         url('../font/Roboto-Black.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../font/Roboto-Bold.ttf') format('ttf'),
         url('../font/Roboto-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}